/* 1. Salto al contenido (Accesibilidad) */

    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

focus {
    position: static;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
    padding: 10px;
    border: 2px solid #000;
}

/* 2. Navegación con Flexbox */
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: #333;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* 3. Grid para Neighborhood (Dos columnas) */
 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* 4. Flexbox para Parks */
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

/* 5. Modelo de Caja para las fotos */
img {
    border: 5px solid #555;
    border-radius: 10px;
    width: 100%; /* Para que no se salgan de la pantalla */
    max-width: 400px;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
